<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>SDM</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div v-if="name">
        <h1 id="name">{{name}}</h1>
        <p v-if="driver">Attached to driver <b>{{driver}}</b></p>
        <p v-else>No attached driver</p>
        <div id="device" class="fbox">
          <div id="methods" class="fbchild" v-if="methods.length > 0">
            <h3>Methods</h3>
            <method v-for="method in methods" :key="method.name"
                    :dev="name"
                    :key="method.name"
                    :name="method.name"
                    :desc="method.desc"></method>
          </div>
          <div id="local_attrs" class="fbchild" v-if="local_attrs.length > 0">
            <h3>Local attributes</h3>
            <attribute v-for="attr in local_attrs" :key="attr.name"
                       :dev="name"
                       :name="attr.name"
                       :desc="attr.desc"
                       :get="attr.get"
                       :set="attr.set"
                       type="local"></attribute>
          </div>
          <div id="privat_attrs" class="fbchild" v-if="private_attrs.length > 0">
            <h3>Private attributes</h3>
            <attribute v-for="attr in private_attrs" :key="attr.name"
                       :dev="name"
                       :name="attr.name"
                       :desc="attr.desc"
                       :get="attr.get"
                       :set="attr.set"
                       type="private"></attribute>
          </div>
          <div id="driver" class="fbchild" v-if="driver_attrs.length > 0">
            <h3>Driver attributes</h3>
            <attribute v-for="attr in driver_attrs" :key="attr.name"
                       :dev="name"
                       :name="attr.name"
                       :desc="attr.desc"
                       :get="attr.get"
                       :set="attr.set"
                       type="public"></attribute>
          </div>
          <div id="children" class="fbchild" v-if="children.length > 0">
            <h3>Children</h3>
            <div v-for="child in children"><a :href="childPath(child)">{{child}}</a></div>
          </div>
        </div>
      </div>
      <div v-else>
        <p>No device found</p>
      </div>
    </div>
    <script src="/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="/script.js"></script>
  </body>
</html>
