body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
    width: 100%;
}

.nav-bar {
    background: linear-gradient(90deg, tomato, #ffd4cc);
    height: 60px;
    margin-bottom: 15px;
}

#app {
    margin: 10px;
}

#device {
    align-items: stretch;
}

.fbox {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.fbchild {
    margin: 5px;
    border-radius: 25px;
    background: #eee;
    padding: 10px;
}

.method, .attribute {
    margin: 5px;
    border-radius: 25px;
    background: #ddd;
    padding: 10px;
}

button {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #1E95EA;
    color: white;
    height: 20px;
    font-size: 14px;
    text-align: center;
}
